@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

// Variables
$small-screen: 48em !default;
$medium-screen: 62em !default;
$large-screen: 75em !default;
$font-family: "Raleway", sans-serif;
$font-family-numbers: "Josefin Sans", sans-serif;
$font-size-base: 1rem !default;
$font-size-h1: 2rem !default;
$font-weight-strong: 600;
$text-color: #fff !default;
$bg-color: rgba(43, 45, 47, 1);
$card-bg-color: linear-gradient(
  145deg,
  rgba(115, 115, 115, 0.15) 15%,
  rgba(43, 45, 47, 1) 80%
);
$primary-color: #ff073a;

html {
    background: $bg-color;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: normal;
    height: 100%;
    overflow: hidden;
  }
  
body {
  height: 100%;
}
  
a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }
}
h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-strong;
  line-height: 2rem;
}
  
p {
  word-spacing: 0.1rem;
}

#landing {
    background: #2b2d2f;
    color: #fff;
    display: flex;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}
.highlight-link {
    box-shadow: inset 0 -0.125rem 0 $primary-color;
    box-sizing: border-box;
    color: $primary-color;
    display: inline-block;
    padding: 0.125rem 0.125rem;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      box-shadow: inset 0 -2rem 0 0 $primary-color;
      color: $text-color;
    }
  }
.highlight-title {
  color: $primary-color;
  text-shadow: 0.25rem 0.25rem 0.25rem $primary-color;
}

.landing-icons {
  display: flex;
  justify-content: center;

  .social-link {
    color: $text-color;
    position: relative;
    height: 3rem;
    line-height: 3rem;
    margin: 0.25rem;
    width: 3rem;

    .circle {
      animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
      fill: none;
      stroke-dasharray: 40;
      transition: all 0.2s ease-in-out;
    }

    .social {
      font-size: 1.5rem;
      position: absolute;
      top: 0px;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }

    .social-svg {
      color: white;
    }

    .label {
      display: none;
    }

    &:hover {
      cursor: pointer;

      .circle {
        animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
          colorBlackIcon 1s linear forwards;
        fill: $text-color;
        fill-opacity: 1;
      }

      .social-svg {
        color: #000;
      }

      .label {
        display: unset !important;
        position: relative;
        top: -2rem;
      }
    }
  }

  .email:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorEmail 1s linear forwards;
    }
    .social-svg {
      color: #d44638;
    }
  }

  .telegram:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorTelegram 1s linear forwards;
    }
    .social-svg {
      color: #2aabee;
    }
  }

  .linkedin:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorLinkedIn 1s linear forwards;
      fill: #0072b1
    }
    .social-svg {
      color: $text-color;
    }
  }

  .stackoverflow:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorStackOverflow 1s linear forwards;
    }
    .social-svg {
      color: #f47f24;
    }
  }

  .whatsapp:hover {
    .circle {
      animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
        colorWhatsapp 1s linear forwards;
        fill: #25D366
    }
    .social-svg {
      color: $text-color;
    }
  }

  // .instagram:hover {
  //   .circle {
  //     animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
  //       colorInstagram 1s linear forwards;
  //   }
  //   .social-svg {
  //     color: #e1306c;
  //   }
  // }

  @keyframes outWaveIn {
    to {
      stroke-dasharray: 510;
      stroke-width: 0.5rem;
    }
  }

  @keyframes outWaveOut {
    from {
      stroke: $text-color;
      stroke-dasharray: 510;
      stroke-width: 0.5rem;
    }
    to {
      stroke: $text-color;
      stroke-dasharray: 83;
      stroke-width: 0.5rem;
    }
  }

  @keyframes colorBlackIcon {
    to {
      stroke: #000;
    }
  }

  @keyframes colorEmail {
    to {
      stroke: #b23121;
    }
  }

  @keyframes colorTelegram {
    to {
      stroke: #229ed9;
    }
  }

  @keyframes colorLinkedIn {
    to {
      stroke: $text-color;
    }
  }

  @keyframes colorStackOverflow {
    to {
      stroke: #d96311;
    }
  }

  @keyframes colorTwitter {
    to {
      stroke: #1da1f2;
    }
  }

  @keyframes colorWhatsapp {
    to {
      stroke: $text-color;
    }
  }

  // @keyframes colorInstagram {
  //   to {
  //     stroke: #833ab4;
  //   }
  // }
}

.landing-title {
    left: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 40%;
}

// Layout

.layout {
  margin: 0.5rem;
  max-width: $large-screen;
  padding: 0.5rem 0.5rem;
}
.layout .card{
  background: $card-bg-color;
  border-radius: 2rem;
  margin: 3rem 0;
  padding: 1rem 2rem;
}
.layout .card .title {
  text-align: center;
  position: relative;
}
.layout .card .subtitle {
  text-align: center;
}
.layout .card .description {
  text-align: justify;
}
.neumorphism-card-big {
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
}

@media only screen and (min-width: $small-screen) {
  .layout {
    margin: 0.5rem auto;
    padding: 2rem 2rem;
  }
  .layout .card .subtitle {
    font-size: 1.25rem;
  }
  .layout .card .description {
    font-size: 1.25rem;
  }
  .landing-title h1 {
    font-size: 3rem;
  }
  .landing-icons .social-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    .social {
      font-size: 2rem;
    }
  }  
}
@media only screen and (min-width: $medium-screen) {
  .layout {
    padding: 3rem 3rem;
  }
  .layout .card {
    padding: 1rem 3rem;
  }
}
@media only screen and (min-width: $large-screen) {
  .layout {
    padding: 5rem 5rem;
  }
}

// Reusable Animations

@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0.5rem;
  }
  100% {
    bottom: 0;
  }
}